/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
.navbar{
    background-color: #F5F7FA !important;
    min-height: 10vh;
}

.indexWrapper{
    font-family: 'Dongle', sans-serif;
    min-height: 90vh;
}


#SavingsSub{
    font-size: 30px;
    color: #B1B1B1;
    padding: 0px;
}

#HomeSub{
    font-size: 30px;
    color: #B1B1B1;
    padding: 0px;
}

#ExpenseSub{
    font-size: 30px;
    color: #B1B1B1;
    padding: 0px;
}

#LogsSub{
    font-size: 30px;
    color: #B1B1B1;
    padding: 0px;
}


.sidebar-link:hover{
    text-shadow: none !important;
    background-color: #F5F7FA !important;
}

#navBarLogo{
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    color: #343C6A !important;
}

#moduleName{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #343C6A !important;
}
